*{
    margin: 0;
    padding: 0;
}
body html{
    width: 100%;
}
.clearFloat:after{
    content: "";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearFloat{
    zoom:1;
}
.container{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background:linear-gradient(rgba(0,191,255,0.3),white,white,white,white,rgba(0,191,255,0.3));
}
.top{
    height: 3vh;
}
.banner{
    height: 6.6vh;
    position: relative;
}
.banner img{
    position: absolute;
    top: 50%;
    margin-top: -1.12vh;
}
.banner img:nth-child(1){
    margin-left: 3.2vw;
}
.banner img:nth-child(2){
    left: 92%;
}
.volume{
    width: 60vw;
    height: 1.6vw;
    border: 0.4vw solid  #9f9f9f;
    cursor: pointer;
    position: absolute;
    top: 40vh;
    left: 20vw;
   }
.volumeBtn{
    width:1.6vw;
    height: 1.6vw;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 0vw;
    top: 0;
}
.zPhoto{
    width: 53.3vw;
    height: 53.3vw;
    border-radius: 50%;
    border: 1vw solid #9f9f9f;
    animation: 30s zPhoto;
    position: absolute;
    left: 23.35vw;
}

@keyframes zPhoto {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.YBtn{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color:#b0caf6 ;
    left: -3vw;
    top: -2vw;
    cursor: pointer;
}
.sound{
    width: 5vw;
    margin-left: 60vw;
    margin-top: 55vw;
    background-color: antiquewhite;
}
.btn{
    height: 15vh;
    line-height:  11vh;
    position: relative;
    cursor: pointer;
}
.btn img{
    line-height: 11vw;
    position: absolute;
    top: 50%;
}
.btn img:nth-child(1){
    width: 6vw;
    height: 5vw;
    left: 12%;
    margin-top: -1vh;
}
.btn img:nth-child(2){
    width: 8vw;
    height: 8vw;
    left: 26.5%;
    margin-top: -1.6vh;
}
.btn img:nth-child(3){
    width: 8vw;
    height: 8vw;
    left: 64.4%;
    margin-top: -1.6vh;
}
.btn img:nth-child(4){
    width: 6vw;
    height: 5vw;
    left: 83.1%;
    margin-top: -0.8vh;
}
.btn1{
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    background-color: #b0caf6;
    position: absolute;
    left: 44.7vw;
    top: 50%;
    margin-top: -4vw;
    }
.btn1 img{
    top:4vw;
    margin-left: 1.4vw;
}
.footer{
    position: relative;
}
.footer img{
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: 50%;
    margin-top: -2vh;
    cursor: pointer;
}
.footer img:nth-child(1){
    left: 11vw;
}
.footer img:nth-child(2){
    left: 35vw;
}
.footer img:nth-child(3){
    left: 58vw;
}
.footer img:nth-child(4){
    left: 82vw;
}
.he{
    padding: 100px 0;
    height: 67.9vh;
    box-sizing: border-box;
    position: relative;
}
.progressBar{
    position: absolute;
    top: 95%;
    left: 50%;
    margin-left: -40vw;
    float: left;
    cursor: pointer;
    font-size: 3.2vw;
}
.totalTime{
    width: 60vw;
    height: 0.8vh;
    border-radius: 0.8vh;
    background-color: #9f9f9f;
    cursor: pointer;
    margin-left: 20px;
}
.startTime,.totalTime,.timeWidth{
    float: left;
}
.totalTime .timeWidth{
    border-radius: 0.8vh;
    background-color: #1fa2ea;
    height: 100%;
    width: 0;
    position: relative;
}
.totalTime .timeWidth .bar{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #b0caf6;
    position: absolute;
    top: -10px;
    right: -15px;
}
.endTime{
    float: right;
}